[
  {
    "name": "${container_name}",
    "image": "${image_uri}",
    "essential": true,
    "portMappings": [
      {
        "containerPort": ${container_port},
        "hostPort": ${container_port},
        "protocol": "tcp"
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${log_group}",
        "awslogs-region": "${aws_region_name}",
        "awslogs-stream-prefix": "main"
      }
    }
  }
]
